$break-sm: 575px;

@mixin break-sm {
    @media only screen and (min-width: 576px) {
        @content;
    }
}
body {
    margin: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-size: 12px;
    @include break-sm {
        font-size: 16px;
    }
}

header {
    flex: 0 0 auto;
}
main {
    flex: 1 1 auto;


    .card {
        overflow: hidden;
        user-select: none;

        .card-title, .card-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .stretched-link:hover {
            cursor:pointer;
        }

        &.card-disabled {
            .card-top, .card-body {
                opacity: 0.6;
            }
        }
        &.card-no-pointer {
            &:hover a {
                cursor: default;
                cursor: not-allowed;
            }
        }
    }

    #button_fight {
        display: flex;
        align-items: center;

        &.button-no-pointer {
            &:hover {
                cursor: default;
                cursor: not-allowed;
            }
        }
    }
    

}
footer {
    flex: 0 0 auto;
}
